# Ignore SSH keys
.ssh/
id_ed25519*
authorized_keys

# Ignore local logs (optional, depends if you want them public)
*.log

# Ignore OS-specific files
.DS_Store

# Ignore generated web files
index.html

# Ignore log files
*.log
**.log.*
*.gz

# Ignore system-specific or hidden files
.DS_Store
Thumbs.db

# Ignore history files
onboarding_history.log

# Ignore the Docker build artifacts (if any)
.dockerignore

# Ignore log files for watch tower
watchtower.log
